html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
  }
  body {
    line-height: 1;
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  
  .container{max-width:1200px;margin: 0 auto;padding-left: 15px;padding-right: 15px;}
  
  @font-face{
    font-family: "josefin-sans-light";
    src: url(/ASSETS/fonts/JosefinSans-Thin-woff.woff) format(woff), 
    url(/ASSETS/fonts/JosefinSans-Thin-woff.woff2) format(woff2);
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
  }
  
  @font-face{
    font-family: "josefin-sans";
    src: url(/ASSETS/fonts/JosefinSans-Regular-woff.woff) format(woff), 
    url(/ASSETS/fonts/JosefinSans-Regular-woff.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face{
    font-family: "josefin-sans-bold";
    src: url(/ASSETS/fonts/JosefinSans-Bold-woff.woff) format(woff), 
    url(/ASSETS/fonts/JosefinSans-Bold-woff.woff2) format(woff2);
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face{
    font-family: "titilliumWeb";
    src: url(/ASSETS/fonts/TitilliumWeb-Regular-woff.woff) format(woff), 
    url(/ASSETS/fonts/TitilliumWeb-Regular-woff.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face{
    font-family: "titilliumWeb-bold";
    src: url(/ASSETS/fonts/TitilliumWeb-Bold-woff.woff) format(woff), 
    url(/ASSETS/fonts/TitilliumWeb-Bold-woff.woff2) format(woff2);
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face{
    font-family: "raleway";
    src: url(/ASSETS/fonts/Raleway-Regular-woff.woff) format(woff), 
    url(/ASSETS/fonts/Raleway-Regular-woff.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  /* common-css start */
  :root{
  
    --josefinsans-light : "josefin-sans-light";
    --josefinsans : "josefin-sans";
    --josefinsans-bold : "josefin-sans-bold";
    --titilliumWeb : "titilliumWeb";
    --titilliumWeb-bold : "titilliumWeb-bold";
    --raleway : "raleway";
  
    --color-black :             #000000;
    --theme-color-black:        #1a1a1a;
    --side-nav-bg:              #2a2a2a;
    --close-btn-color  :        #2f2f2f;
    --hover-color:              #444444;
    --bg-light-gray:            #4e4e4e;
    --body-text-color :         #555555;
    --color-gray:               #9f9e9e;
    --plan-card-color-gray:     #929292;
    --color-f-gray:             #A3A3A3;
    --counter-gray :            #c2c2c2;
    --border-light-white :      #e0e0e0;
    --color-light-white :       #f5f5f5;
    --color-white :             #ffffff;
  
    --border-color: rgba(0, 0, 0, 0.1);
    --footer-border-color : rgba(255, 255, 255, 0.1);
  
    --font-10: 10px;
    --font-13: 13px;
    --font-14 : 14px;
    --font-18 : 18px;
    --font-20 : 20px;
    --font-24: 24px;
    --font-30: 30px;
    --font-42: 42px;
    --font-48: 48px;
    --font-71: 66px;
  
    --line-height-26:26px;
    --line-height-30:30px;
    --line-height-36:36px;
    --line-height-80:80px;
  }
  html,body{font-family: var(--titilliumWeb),sans-serif;color: var(--body-text-color);}
  
 
  .color-black{color:var(--theme-color-black)}
  .color-gray{color:var(--color-gray)}
  .color-white{color:var(--color-white)}
  .color-f-gray{color: var(--color-f-gray);}
  .color-body-text{color: var(--body-text-color);}
  .counter-gray{color:var(--counter-gray)}
  .icon-white{filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(17deg) brightness(89%) contrast(120%);}
  
  .bg-transparent{background-color: transparent;}
  .bg-white{background-color: var(--color-white);}
  .bg-black{background-color: var(--theme-color-black);}
  .side-nav-bg{background-color: var(--side-nav-bg);}
  .bg-light-gray{background-color: var(--bg-light-gray);}
  
  .font-10{font-size: var(--font-10);}
  .font-13{font-size: var(--font-13);}
  .font-14{font-size: var(--font-14);}
  .font-18{font-size: var(--font-18);}
  .font-20{font-size: var(--font-20);}
  .font-24{font-size: var(--font-24);}
  .font-30{font-size: var(--font-30);}
  .font-42{font-size: var(--font-42);}
  .font-48{font-size: var(--font-48);}
  .font-71{font-size: var(--font-71);}
  
  .line-height-26{line-height:var(--line-height-26);}
  .line-height-30{line-height:var(--line-height-30);}
  .line-height-36{line-height:var(--line-height-36);}
  .line-height-80{line-height:var(--line-height-80);}
  
  .d-inline-block{display: inline-block;}
  .d-block{display: block;}
  .d-flex{display: flex;}
  .d-none{display: none;}
  
  .border-0{border:none}
  .border-bottom{border-bottom: 2px solid var(--theme-color-black);}
  
  .align-items-top{align-items: start;}
  .align-items-center{align-items: center;}
  .align-items-end{align-items: end;}
  .justify-content-center{justify-content: center;}
  .justify-content-end{justify-content: end;}
  .justify-content-between{justify-content: space-between;}
  
  .text-uppercase{text-transform: uppercase;}
  .text-center{text-align: center;}
  .text-end{text-align: end;}
  .text-decoration-none{text-decoration: none;}
  .font-bold{font-weight: bold;}
  
  .font-josefin-light{font-family: var(--josefinsans-light),sans-serif;}
  .font-josefin{font-family: var(--josefinsans),sans-serif;}
  .font-josefin-bold{font-family: var(--josefinsans-bold),sans-serif;}
  .font-titilliumWeb{font-family: var(--titilliumWeb),sans-serif;}
  .font-titilliumWeb-bold{font-family: var(--titilliumWeb-bold),sans-serif;}
  .font-raleway{font-family: var(--raleway),sans-serif;}
  
  .mx-auto{margin: 0 auto;}
  .mx-15{margin-left: 15px;margin-right: 15px;}
  .mx-30{margin-left: 30px;margin-right: 30px;}
  .mt-10{margin-top: 10px;}
  .mt-15{margin-top: 15px;}
  .mt-20{margin-top: 20px;}
  .mt-25{margin-top: 25px;}
  .mt-30{margin-top: 30px;}
  .mt-40{margin-top: 40px;}
  .mt-50{margin-top: 50px;}
  .ml-auto{margin-left: auto;}
  .ml-10{margin-left: 10px;}
  .ml-88px{margin-left: 88px;}
  .mb-15{margin-bottom: 15px;}
  .mb-30{margin-bottom: 30px;}
  .mb-40{margin-bottom: 40px;}
  .mr-10{margin-right: 10px;}
  .mr-30{margin-right: 30px;}
  .mr-90px{margin-right: 90px;}
  .my-25{margin: 25px 0;}
  .my-30{margin: 30px 0;}
  .my-15{margin: 15px 0;}
  .my-45{margin: 45px 0;}
  
  
  .pl-10{padding-left: 10px;}
  .pl-20{padding-left: 20px;}
  .pl-60{padding-left: 60px;}
  .py-8{padding: 8px 0;}
  .py-60{padding: 60px 0;}
  .pb-10{padding-bottom: 10px;}
  .pb-20{padding-bottom: 20px;}
  .pb-30{padding-bottom: 30px;}
  .pb-35{padding-bottom: 35px;}
  .pb-60{padding-bottom: 60px;}
  .pt-20{padding-top: 20px;}
  .pt-35{padding-top: 35px;}
  .p-15{padding: 15px;}
  .p-30{padding: 30px;}
  .px-10{padding-left: 10px;padding-right: 10px;}
  .px-20{padding-left: 20px;padding-right: 20px;}
  .py-10{padding-top: 10px;padding-bottom: 10px;}
  .py-90{padding-top: 90px;padding-bottom: 90px;}
  .w-20px{width: 20px;}
  .w-30px{width: 30px;}
  .w-175px{width: 175px;}
  .w-65{width: 65%;}
  .w-85{width: 85%;}
  .w-55{width: 55%;}
  
  .h-100{height: 100%;}
  
  .gap-5{gap: 5px;}
  .gap-20{gap: 20px;}
  .gap-30{gap: 30px;}
  
  .relative{position: relative;}
  
  .cursor-pointer{cursor: pointer;}
  .overflow-hidden{overflow:hidden ;}
  
  .row{display: flex;flex-wrap: wrap;margin-left: -15px;margin-right: -15px;}
  .col-2{width:calc(100%/2);padding-left: 15px;padding-right: 15px;}
  .col-3{width:calc(100%/3);padding-left: 15px;padding-right: 15px;}
  .col-4{width:calc(100%/4);padding-left: 15px;padding-right: 15px;}
  .col-6{width:calc(100%/6);padding-left: 15px;padding-right: 15px;}
  
  .px-0{padding-left: 0;padding-right: 0;}
  .px-50{padding-left: 50px;padding-right: 50px;}
  .px-160{padding-left: 160px;padding-right: 160px;}
  
  .p-5{padding: 5px;}
  .p-15{padding: 15px;}
  .p-30{padding: 30px;}
  .p-60{padding: 60px;}
  .pb-0{padding-bottom: 0;}
  .pr-0{padding-right: 0;}
  
  .letter-spacing-2{letter-spacing: 2px;}
  
  .transition-3s{transition: all 0.3s linear;}
  
  .read-more-link{z-index: 11;}
  .read-more-link::before{position: absolute;content: "";background: #ddd;bottom: -3px;left: -7px;width: 20px;height: 12px;z-index: -1;transition: 0.3s all linear;}
  .read-more-link:hover::before{width: calc(100% + 14px);transition: width 0.6s cubic-bezier(.68,-.55,.265,1.55);}
  .common-title-content::after{position: absolute;content: '';border-bottom: 2px dotted var(--theme-color-black);width: 65px;bottom: 0;}
  .shadow{filter: drop-shadow(0px 5px 5px rgba(25,45,51,0.15));}
  
  .view-btn{padding: 20px 40px;background-color: var(--theme-color-black);border: 1px solid transparent; transition: all 0.3s linear;}
  .view-btn::before{position: absolute;content: '';width: calc(100% + 2px);height: 1px;left: 10px;bottom: -6px;background-color: var(--theme-color-black);transition: all 0.3s linear;}
  .view-btn::after{position: absolute;content: '';height: calc(100% + 2px);width: 1px;top: 10px;right: -6px;background-color: var(--theme-color-black);transition: all 0.3s linear;}
  .view-btn:hover::before{width: 0; transition: all 0.3s linear;}
  .view-btn:hover::after{height: 0; transition: all 0.3s linear;}
  .view-btn:hover{background-color: var(--color-white);color: var(--theme-color-black);border:1px solid var(--theme-color-black); transition: all 0.3s linear;}
  img{max-width: 100%;height: auto;}
  section:last-of-type{padding-bottom: 120px;}
  /* common-css end */
  
  
  /* custom-navbar css start*/
  .custom-navbar{border-bottom: 1px solid var(--border-color);transition: all 0.3s ease;position: fixed;width: 100%;z-index: 999;}
  .custom-navbar .menu-icon{border-left:1px solid var(--border-color)}
  .headerSticky{position: fixed;top: 0;width: 100%;background-color: var(--color-white);z-index: 99;transition: all 0.3s ease;}
  .side-nav{height: 100%;position: fixed;top: 0;width: 400px;right: 0;z-index: 999;transform: translateX(100%);transition: 0.4s all;}
  .side-nav .close-icon{background-color:var(--close-btn-color);}
  .common-social-link.social-main .social-link{height: 30px;width: 30px;border-radius: 50%;border: 1px solid rgba(255,255,255,0.4);transition: 0.4s all;}
  .common-social-link.social-main .social-link:hover{background-color: var(--hover-color);border-color: var(--hover-color);transition: 0.4s all;}
  .side-nav-show{transform: translateX(0%);transition: 0.4s all;} 
  .right-social-links{position: absolute;top: 30%;writing-mode: tb-rl;transform: rotate(180deg);left: 40px;}
  .right-social-links a:hover{color: var(--color-gray);}
  .hover-menu{position: absolute;top: 100%;min-width: 280px;background: var(--theme-color-black);padding: 20px;opacity: 0;z-index: 99999;visibility: hidden;}
  .sub-menu-link{position: relative;transition: all 0.3s linear;}
  .sub-menu-link::before{position: absolute;content: ''; width: 0px;height: 2px;background-color: var(--color-white);top: 50%;transition: all 0.3s linear;left: 0;}
  .sub-menu-link:hover span{transition: all 0.3s linear;transform: translateX(20px);}
  .sub-menu-link:hover::before{width: 10px;transition: all 0.3s linear;left: 0;}
  .nav-link:hover .hover-menu{opacity: 1;transition: all 0.3s linear;display: block;visibility: visible;}
  .nav-link a::after{position: absolute;content: '';border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid var(--theme-color-black);opacity: 0;bottom: 0;left: 50%;transform: translateX(-50%);}
  .nav-link:hover a::after{opacity: 1;transition: all 0.3s linear;}
  .hover-menu.w-full{width: 100%;left: 0;}
  /* custom-navbar css end */
  
  
  @media(max-width:1600px){
    :root{
      --font-71: 43px;
      --line-height-80:60px;
    }
    .px-160{padding-left: 100px;padding-right: 100px;}
    .pb-xl-0{padding-bottom: 0;}
    .container{padding-left: 25px;padding-right: 25px;}
   
    .mr-xl-90{margin-right: 90px;}
    .ml-xl-88{margin-left: 88px;}
  }
  

  @media(max-width:1199px){
    .mr-xl-90{margin-right: 0px;}
    .ml-xl-88{margin-left: 0px;}
    .w-lg-100{width: 100%;}
    .mt-lg-30{margin-top: 30px;}
    .services-section .card{padding: 25px 30px 35px 30px;}
    .pl-60{padding-left: 30px;}
    .flex-direction-column{flex-direction: column;}
    .pl-lg-0{padding-left: 0;}
    .px-160{padding-left: 50px;padding-right: 20px;}
    .d-lg-block{display: block;}
    .d-lg-none{display: none;}
    .text-lg-center{text-align: center;}
    .border-lg-none{border: none;}
  
    /* custom-navbar css start */
    .custom-navbar{background-color: var(--theme-color-black);}
    .custom-navbar .navbar-main{display: none;}
    .custom-navbar .navbar-main.menuClass{display: block;}
    .custom-navbar .navbar-main{position: absolute;background: var(--color-white);flex-direction: column;padding: 10px;align-items: start;top: 0;height: auto;width: 100%;z-index: 11;overflow-y: auto;}
    .custom-navbar .navbar-main .nav-link{padding: 10px 0;}
    .icons-color-white-lg{filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(17deg) brightness(89%) contrast(120%);}
    .right-social-links{display: none}
    .nav-link a::after{display: none;}
    .custom-navbar .nav-link{flex-direction: column;align-items: flex-start;}
    .nav-link .hover-menu{position: relative;display: none;}
    .hover-menu.active{display: block;}
    .custom-navbar .menu-close-icon{position: absolute;top: 35px;right: 35px;}
    .custom-navbar .menu-icon.icon-z-index{z-index: 999;border-left:0;}
    .custom-navbar .menu-icon.icon-z-index .icons-color-white-lg{filter: none;}

  }
  
  @media(max-width:991px){
    :root{
      --font-13: 13px;
      --font-14 : 14px;
      --font-18 : 18px;
      --font-20 : 20px;
      --font-24: 20px;
      --font-30: 30px;
      --font-42: 32px;
      --font-48: 36px;
  
      --font-71: 45px;
      --line-height-26:26px;
      --line-height-30:25px;
      --line-height-36:36px;
      --line-height-80:50px;
    }
  
    .my-25{margin: 15px 0;}
    .py-90{padding-top: 30px;padding-bottom: 30px;}
    .col-4{width:calc(100%3)}
  
    .flex-tb-column{flex-direction: column;}
  
    .w-tb-100{width: 100%;}

  
  }
  @media(max-width:767px){
    
    :root{
      --font-71: 50px;
      --line-height-80:60px;
    }
  
    .w-md-50{width: 50%;}
    .services-section .card{padding: 25px 15px;}
    .flex-md-column{flex-direction: column;}
    .w-md-100{width: 100%;}
    .mx-md-auto{margin:0 auto;}
    .text-md-center{text-align: center;}
    .text-md-start{text-align: start;}
    .mr-30{margin-right: 0;}
    .my-45{margin: 25px 0;}
    .py-90{padding-top: 0;padding-bottom: 0;}
    .gap-30{gap: 10px;}
    .view-btn{padding:15px 30px;}
    .gap-md-30{gap: 30px;}
   
  }
  
  
  @media(max-width:575px){
  
    :root{
      --font-71: 30px;
      --line-height-80:35px;
    }
  
    section{padding-left: 0;padding-right: 0;}
  
    .col-4{width:100%}
  
    .custom-navbar .menu-icon.p-30{padding-left: 10px;padding-right: 10px;}
    .w-30px{width: 25px;}
    .w-sm-100{width: 100%;}
    .text-sm-start{text-align: start;}
    .flex-sm-column{flex-direction: column;}
    .justify-content-sm-left{justify-content: left;}
  
    .my-45{margin: 15px 0;}
    .my-30{margin: 20px 0}
    .mb-sm-20{margin-bottom: 20px;}
  
    .mb-sm-40{margin-bottom: 40px;}
    .footer .mb-30,.mb-40{margin-bottom: 20px;}
    .footer .container.py-60{padding-bottom: 30px;}
  }